[ req ]
default_bits            = 4096
distinguished_name      = req_distinguished_name
x509_extensions         = x509_ext
string_mask = utf8only

[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
countryName_default             = BB
countryName_min                 = 2
countryName_max                 = 2
stateOrProvinceName             = State or Province Name (full name)
stateOrProvinceName_default     = Testprovince
localityName                    = Locality Name (eg, city)
localityName_default            = Testtown
0.organizationName              = Organization Name (eg, company)
0.organizationName_default      = Testcorp
commonName                      = Common Name
commonName_default              = Bob
commonName_max                  = 64
emailAddress                    = Email Address
emailAddress_default            = bob@testcorp.com
emailAddress_max                = 64

# Section x509_ext is used when generating a self-signed certificate. I.e., openssl req -x509 ...
[ x509_ext ]

subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer

basicConstraints                = CA:FALSE
keyUsage                        = critical, digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage                = clientAuth, emailProtection
#subjectAltName                 = email:copy